DATABASE_URL=postgresql+psycopg://mtbirb:mtbirb@localhost:5432/mtbirb
EBIRD_API_KEY= eils6e3ksm11
WEATHER_USER_AGENT=mtbirb (936@apexarbitrage.com)
RAPIDAPI_KEY= 39ffabf7bfmshc5a6798793a78ccp1a76e2jsn37ca2fbb68e6
